.divRecipes {
    background: var(--body-grap);
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding-left: 340px;
}

.recipes {
    background: var(--container-color);
    border-radius: 3rem;
    width: 200px;
    padding: 0.3rem 0 1rem 0;
}

.img {
    text-align: center;
    width: 80%;
    border-radius: 3rem;
}

.recipesText {
    display: inline-block;
    border-radius: 3rem;
    color: white;
    background-color: thistle;
    width: 50%;
}